.boton {
  padding: 15px 20px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
body {
  background-color: rgb(247, 253, 253);
}

.naranja {
  background-color: #ffa500;
}
.verde {
  background-color: #008000;
}
.violeta {
  background-color: #8a2be2;
}
